<div
  style="
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: cadetblue;
  "
>
  <mat-card style="width: 300px; border-radius: 10px; padding: 24px">
    <mat-card-header>
      <mat-card-title>Coach Carter</mat-card-title>
      <mat-card-subtitle>Drama - 136 minutos</mat-card-subtitle>
      <img
        mat-card-image
        src="https://www.lahiguera.net/cinemania/pelicula/1661/coach_carter-cartel-1449m.jpg"
        alt="movie poster"
        style="height: 200px; width: 50%; border-radius: 10px"
      />
    </mat-card-header>

    <mat-card-content>
      <p>
        La tensión iba en aumento según los Oilers de Richmond High se
        preparaban para enfrentarse al inminente campeonato de baloncesto. La
        ciudad bullía de excitación en torno a su invicto equipo local y en cada
        partido las gradas se llenaban de fans vociferantes.
      </p>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-raised-button color="primary">Ver más</button>
    </mat-card-actions>
  </mat-card>
</div>
